{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genius Library - Gerenciar Livros</title>
    <link rel="stylesheet" href="{% static 'styles/users.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <img src="{% static 'img/logo.png' %}" alt="Genius Library Logo" class="logo">
        <div class="busca">
            <form action="{% url 'buscar' %}" method="POST" class="search-form">
                {% csrf_token %}
                <input type="text" name="query" placeholder="Buscar usuários, livros, empréstimos..." required>
                <button type="submit">Buscar</button>
            </form>
        </div>
        <nav>
            <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </nav>
    </header>

    <section class="conteiner">
        <aside>
            <ul>
                <li><a href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href=""><i class="fas fa-book"></i> Livros Disponíveis</a></li>
                <li><a href=""><i class="fas fa-history"></i> Histórico de Empréstimos</a></li>
            </ul>
        </aside>

        <main id="search-results">
            <section class="search-section" id="users-section">
                <h2>Livros</h2>

                <form action="{% url 'available_books' %}" method="GET" class="filter-form">
                    <label for="book_style">Gênero do livro</label>
                    <select name="book_style" id="user_type">
                        <option value="">Todos</option>
                        <option value="Fiction">Ficção</option>
                        <option value="Non-Fiction">Não ficção</option>
                        <option value="Romance">Romance</option>
                        <option value="Science">Científico</option>
                        <option value="Biography">Biografia</option>
                        <option value="Horror">Terror</option>
                    </select>

                    <label for="quantity_available">Mínimo de livros disponíveis:</label>
                    <input type="number" name="quantity_available" id="min_active_loans" min="0" placeholder="Ex: 1">

                    <button type="submit">Filtrar</button>
                </form>

                <div class="user-list">
                    {% if books %}
                    {% for book in books %}
                    <div class="user-card">
                        <div class="user-info">
                            <p><strong>Título:</strong> {{ book.title }}</p>
                            <p><strong>Autor:</strong> {{ book.author }}</p>
                            <p><strong>Gênero:</strong> {{ book.style }}</p>
                            <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                            <p><strong>Editora:</strong> {{ book.publisher }}</p>
                            <p><strong>Ano de publicação:</strong> {{ book.publish_year }}</p>
                            <p><strong>Quantidade total: </strong> {{ book.quantity_total }} </p>
                            <p><strong>Quantidade disponível:</strong> {{ book.quantity_available }}</p>
                            <p><strong>Empréstimos ativos: </strong> {{ book.loans_self_count }}</p>
                            {% if book.description %}
                            <p><strong>Descrição:</strong> {{ book.description }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="no-result">Nenhum usuário encontrado.</p>
                    {% endif %}
                </div>
            </section>
        </main>
    </section>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>