{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genius Library - Login</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="div_logo">
        <img src="{% static 'img/logo.png' %}" alt="Genius Library Logo" class="logo">
        
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    {% if forloop.last %}
                        <p class="message {{ message.tags }}">{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}


        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Entrar</button>
        </form>
    </div>

    <div class="div_background">
        <img src="{% static 'img/login_background.webp' %}" alt="Login Background">
        <div class="overlay"></div>
    </div>
</body>
</html>
